@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* PAGINA DOS GRÁFICOS - Sidebar Styling */

.janela {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
}

.header-left a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px 0;
}

.header-left {
  /*position: fixed;
  top: 0;
  left: 0;*/
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 20px;
  align-items: center;
  border-right: 3px solid #e61d3f;
  background-color: #222;
  box-sizing: border-box;
}

.header-left h1 { 
  color: #e61d3f;
  font-family: "Permanent Marker", cursive;
  font-size: 45px; 
  margin-bottom: 30px;
  text-align: center;
}

.hello {
  width: 80%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

.hello h3 {
  color: #e3b062; 
  font-weight: 300;
  font-size: 1.1rem;
}

.hello h3 span { 
  font-weight: 800;
}


.btn-nav { 
  width: 70%;
  border-radius: 5px;
  text-align: center;
  padding: 0;
  margin-bottom: 15px;
  box-sizing: border-box;
  background-color: #e61d3f;
  color: white;
}
.btn-nav h3 {
  color: white;
  margin: 0;
  padding: 12px 5px;
  font-size: 1em;
}
.btn-nav:hover {
  background-color: #d01735;
  box-shadow: 0 0 8px 2px #e61d3f;
}

.btn-nav-white { 
  width: 70%;
  border-radius: 5px;
  text-align: center;
  padding: 0;
  margin-bottom: 15px;
  box-sizing: border-box;
  background-color: white;
  border: 2px solid #e61d3f;
}
.btn-nav-white h3 {
  color: #e61d3f;
  padding: 0;
  margin: 0;
  padding: 10px 5px; 
  font-size: 1em;
}
.btn-nav-white a { 
    color: #e61d3f;
}
.btn-nav-white:hover {
  background-color: #f0f0f0; 
  border-color: #d01735;
  box-shadow: 0 0 8px 2px #e61d3f;
}
.btn-nav-white:hover h3, .btn-nav-white:hover a { 
    color: #d01735;
}

.btn-logout { 
  width: auto; 
  padding: 10px 25px; 
  margin-top: auto; /* deixa o botão no bot */
  margin-bottom: 30px; 
  background-color: #333; 
  color: white;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  
}
.btn-logout h3 {
  margin: 0;
  padding: 0;
  font-size: 1em;
}
.btn-logout:hover {
  background-color: #e61d3f; /* Destaque rosa no hover */
  box-shadow: 0 0 8px 2px #e61d3f;
}


/*CSS PARA GRAFICO*/

.container-dash{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

.kpi-superior{
  background-color: white;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.kpi-inferior{
  background-color: blue;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.kpi{
  background-color: black;
  width: 30%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
  font-size: 25px;
}

.grafico{
  width: 60%;
  height: 80%;
  background-color: grey;
}

.rank{
  width: 30%;
  height: 80%;
  background-color: grey;
}